<% @messages.each do |obj| %>
  <div>
  	<%= obj.content %>
  	Likes: <%= Actions::Like.new.get_likes(obj) %>
  </div>
<% end %>
<%= paginate @messages %>

<%= link_to "Back to chat", rooms_show_path %>
