<h1>ActionCable Chat</h1>

<form>
  <label>Write text:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<div id="messages">
  <%= render @messages %>
</div>

<%= link_to "Home", root_path %>
<%= link_to "Show History", messages_path %>

<p> Online users: </p>

<ul>
  <% @users.each do |user| %>
  <li><%= user.email %></li>
  <% end %>
</ul>
